<div class="ironsworn-roll flexcol" data-ironswornroll="{{json ironswornroll}}">
  <h3>
    {{title}}
  </h3>

  <div class="dice-result dice-tooltip dice-roll ironsworn-roll">
    {{{graphic}}}
  </div>

  {{#if moveOutcome}}
  <div class="roll-result">
    <p>
      {{#if outcomeReplacementReason}}
      {{outcomeReplacementReason}}:
      {{/if}}
      <strong>{{outcomeText}}</strong>
    </p>
    {{{enrichMarkdown moveOutcome}}}
  </div>
  {{else if outcomeReplacementReason}}
  <p>
    {{outcomeReplacementReason}}:
    <strong>{{outcomeText}}</strong>
  </p>
  {{/if}}

  {{#if possibleMomentumBurn}}
  <hr />
  <div class='momentum-burn'>
    <p>{{{localize 'IRONSWORN.BurnForUpgrade' type=possibleMomentumBurn}}}</p>
    <button class='icon-button fas fa-fire ironsworn-roll-burn-momentum'>
      {{localize 'IRONSWORN.Burn'}}
    </button>
  </div>
  {{/if}}

  {{#if nextOracles}}
  <hr />
  {{#each nextOracles}}
  <button class='starforged__oracle__roll' data-tableid='{{id}}'>
    <i class='isicon-d10-tilt'></i>
    {{name}}
  </button>
  {{/each}}
  {{/if}}

</div>
