<div class="ironsworn-roll flexcol" data-ironswornroll="{{json ironswornroll}}">
  <div class="dice-result dice-tooltip dice-roll ironsworn-roll">
    {{{graphic}}}
  </div>

  {{!-- TODO: enable these in the renderer --}}
  {{#if originalMoveOutcome}}
  <div class="roll-result">
    {{{enrichMarkdown originalMoveOutcome}}}
  </div>
  {{/if}}

  {{#if possibleMomentumBurn}}
  <hr />
  <div class='momentum-burn'>
    <p>{{{localize 'IRONSWORN.BurnForUpgrade' type=possibleMomentumBurn}}}</p>
    <button class='icon-button fas fa-fire ironsworn-roll-burn-momentum'>
      {{localize 'IRONSWORN.Burn'}}
    </button>
  </div>
  {{/if}}
</div>
