<article class="ironsworn table-draw oracle-roll flexcol"
{{#if table.id}}data-table-id="{{ table.id }}"{{/if}}
{{#if sourceId}}data-table-source-uuid="{{sourceId}}"{{/if}}
{{#if rollTableType}}data-computed-table-type="{{rollTableType}}"{{/if}}
>
  <table class="oracle-table oracle-table-partial">
    <thead>
      <caption>
        {{#if subtitle}}
        <small class="subtitle">{{subtitle}}</small>
        {{/if}}
        <span class="ironsworn-roll-title">{{table.name}}</span>
      </caption>
    </thead>
    <tbody>
    {{#each result.displayRows}}
      {{#if this}}
      <tr class="oracle-result-row" {{#if (eq @index 1)}}aria-selected="true"{{/if}}>
        <td class="oracle-table-column-roll-range">
          <span class="oracle-row-content">
          {{#if (eq this.range.[0] this.range.[1])}}{{this.range.[0]}}{{else}}{{this.range.[0]}}–{{this.range.[1]}}{{/if}}
          </span>
          <button
            type="button"
            class="oracle-result-control copy-result clickable text"
            data-result="{{this.text}}"
            data-tooltip="{{localize 'IRONSWORN.CopyTextToClipboard'}}"
            data-tooltip-direction="LEFT"
          >
            <i class="icon fas fa-copy" role="presentational"></i>
          </button>
        </td>
        <td class="oracle-table-column-result-text">{{{this.text}}}
        </td>
        <td class="oracle-table-column-roll-result" >
          {{#if (eq @index 1)}}
          <span class="oracle-row-content">
            <i class="icon isicon-d10-tilt" role="presentational"></i>
            <span>{{{ @root.roll.total }}}</span>
          </span>
          <button type='button'
            data-action="oracleReroll"
            class="oracle-result-control oracle-reroll clickable text"
            data-tooltip="{{localize 'IRONSWORN.Reroll'}}"
            aria-label="{{{localize 'IRONSWORN.OracleTable.ColumnLabel.DiceRollResult' dice='d100'}}}"
            >
            <i class="icon fas fa-undo-alt" role="presentational"></i>
          </button>
          {{/if}}
        </td>
      </tr>
      {{/if}}
    {{/each}}
    </tbody>
  </table>
</article>
