<article class="table-draw hover-controls-anchor oracle-roll flexcol" data-oracleroll="{{json oracleRoll}}">
  {{#if subtitle}}
  <small>{{subtitle}}</small>
  {{/if}}
  <h2 class="ironsworn-roll-title">{{title}}</h2>

  <table>
    <tbody>
      {{#each displayRows}}
      <tr class="{{#if selected}}selected{{/if}}">
        <td>{{#if (eq low high)}}{{low}}{{else}}{{low}}-{{high}}{{/if}}</td>
        <td>{{{text}}}</td>
        <td style="padding: 0 5px; white-space: nowrap;">
          {{#if selected}}
          <i class="isicon-d10-tilt"></i>
          {{../oracleRoll.roll.total}}
          {{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="hover-controls">
    <button class="oracle-reroll" title="{{localize 'IRONSWORN.Reroll'}}"
      data-tooltip="{{localize 'IRONSWORN.Reroll'}}">
      <i class="fas fa-undo-alt"></i>
    </button>
  </div>
</article>
