<article class="ironsworn table-draw oracle-roll flexcol" data-oracleroll="{{json oracleRoll}}">
  <table class="oracle-table oracle-table-partial">
    <caption>
      {{#if subtitle}}
      <small class="subtitle">{{subtitle}}</small>
      {{/if}}
      <span class="ironsworn-roll-title">{{title}}</span>
    </caption>
    <tbody>
      {{#each displayRows}}
      <tr class="oracle-result-row" {{#if selected}}aria-selected="true"{{/if}}>
        <td class="oracle-table-column-roll-range">
          <span class="oracle-row-content">
          {{#if (eq low high)}}{{low}}{{else}}{{low}}–{{high}}{{/if}}
          </span>
          <button
            type="button"
            class="oracle-result-control copy-result clickable text"
            data-result="{{text}}"
            data-tooltip="{{localize 'IRONSWORN.CopyTextToClipboard'}}"
            data-tooltip-direction="LEFT"
          >
            <i class="icon fas fa-copy" role="presentational"></i>
          </button>
        </td>
        <td class="oracle-table-column-result-text">{{{text}}}</td>
        <td class="oracle-table-column-roll-result">
          {{#if selected}}
          <span class="oracle-row-content">
            <i class="icon isicon-d10-tilt" role="presentational"></i>
            {{../oracleRoll.roll.total}}
          </span>
          <button type='button'
            data-iron-action="oracleReroll"
            class="oracle-result-control clickable text"
            data-tooltip="{{localize 'IRONSWORN.Reroll'}}"
            aria-label="{{{localize 'IRONSWORN.OracleTable.ColumnLabel.DiceRollResult' dice='d100'}}}"
            >
            <i class="icon fas fa-undo-alt" role="presentational"></i>
          </button>
          {{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</article>
