<article class="roll-graphic dice-formula{{#if actionScore}} action-roll-formula{{else}} progress-roll-formula{{/if}}">
  {{!-- The action die or progress score --}}
  {{#if actionDieCanceledByNegativeMomentum}}
  <del class="roll-term-cancelled">
  {{/if}}
  <span class="action-die die action roll d6 isiconbg-d6-blank {{actionMinMax}}" title="{{computedActionDie.source}}">
    {{#if computedActionDie.value}}
    {{computedActionDie.value}}
    {{else}}
    ?
    {{/if}}
  </span>
  {{#if actionDieCanceledByNegativeMomentum}}
  </del>
  {{/if}}

  {{#each adds}}
  <span class="math-symbol">&plus;</span>
  <span title="{{source}}" class="action-roll-add">{{value}}</span>
  {{/each}}

  {{#if actionScore}}
  <span class="math-symbol">&equals;</span>
  <span class="score{{#if actionScoreCapped}} action-score-capped{{/if}}"
  title="{{#if actionScoreCapped}}{{localize 'IRONSWORN.CappedAt10'}}{{/if}}"
  >
    {{actionScore}}
  </span>
  {{/if}}

  <span class="roll-versus">
    {{localize 'IRONSWORN.Versus'}}
  </span>

  <div class="challenge-dice{{#if isMatch }} match{{/if}}">
    {{#each challengeDice}}
    <span class="roll die isiconbg-d10-blank d10 challenge challenge-die {{minmax}}" title="{{source}}">
      {{#if value}}
      {{value}}
      {{else}}
      ?
      {{/if}}
    </span>
    {{/each}}
  </div>
{{!-- <pre><code>{{json this}}</code></pre> --}}
</article>


