<div class="dice-roll ironsworn-roll">

  <div class="dice-formula">
    <p>
      {{!-- The action die or progress score --}}
      <span class="action roll d6 {{actionMinMax}}
        {{#if actionCanceledByNegativeMomentum}}canceled{{/if}}
      " title="{{computedActionDie.source}}">
        {{#if computedActionDie.value}}
        {{computedActionDie.value}}
        {{else}}
        &nbsp;
        {{/if}}
      </span>

      {{#each adds}}
      &plus;
      <span title="{{source}}">{{value}}</span>
      {{/each}}

      {{#if actionTotal}}
      =
      <strong>
        {{#if actionTotalCapped}}
        <abbr title="{{localize 'IRONSWORN.CappedAt10'}}">{{actionTotal}}</abbr>
        {{else}}
        {{actionTotal}}
        {{/if}}
      </strong>
      {{/if}}

      {{localize 'IRONSWORN.Versus'}}

      {{#each challengeDice}}
      <span class="roll die d10 challenge {{minmax}}" title="{{source}}">
        {{#if value}}
        {{value}}
        {{else}}
        &nbsp;
        {{/if}}
      </span>
      {{/each}}

      {{#if outcome}}
      &equals;
      <strong title="{{outcome.source}}">{{outcome.value}}</strong>
      {{/if}}

    </p>
  </div>

  {{!--
  <pre><code>{{json this}}</code></pre> --}}
</div>
