<article class='ironsworn ironsworn-roll'>
	<section class='dice-result dice-tooltip dice-roll ironsworn-roll flexcol'>

		<div class='flexrow'>
			<article class='roll-graphic dice-formula action-roll-formula'>
				<strong>{{localize 'IRONSWORN.Cinder'}}:</strong>
				<span class='roll die isiconbg-d10-blank d10 cinder'>
					{{cinder.total}}
				</span>
				<span class='moon-emoji cinder'>{{cinderEmoji}}</span>
			</article>
		</div>

		<div class='flexrow'>
			<article class='roll-graphic dice-formula action-roll-formula'>
				<strong>{{localize 'IRONSWORN.Wraith'}}:</strong>
				<span class='roll die isiconbg-d10-blank d10 wraith'>
					{{wraith.total}}
				</span>
				<span class='moon-emoji wraith'>{{wraithEmoji}}</span>
			</article>
		</div>

	</section>
</article>
