<section
  class='flexrow progress-controls nogrow'
  data-tooltip-direction='UP'
  style='flex-flow: nowrap;'
>
  <button
    data-on-click='eraseProgress'
    class='icon-button clickable fas fa-caret-left block'
    type='button'
    tooltip='{{localize "IRONSWORN.UnmarkProgress"}}'
    aria-label='{{localize "IRONSWORN.UnmarkProgress"}}'
    data-tooltip='{{localize "IRONSWORN.UnmarkProgress"}}'
    aria-disabled='false'
  ></button>
  <button
    data-on-click='markProgress'
    class='icon-button clickable fas fa-caret-right block'
    type='button'
    tooltip='{{localize "IRONSWORN.MarkProgress"}}'
    aria-label='{{localize "IRONSWORN.MarkProgress"}}'
    data-tooltip='{{localize "IRONSWORN.MarkProgress"}}'
    aria-disabled='false'
  ></button>
  <button
    class='icon-button clickable isicon-d10-tilt progress-roll block'
    type='button'
    data-on-click='rollProgress'
    tooltip='{{localize "IRONSWORN.MakeAProgressRoll" score=filledBoxes}}'
    aria-label='{{localize "IRONSWORN.MakeAProgressRoll" score=filledBoxes}}'
    data-tooltip='{{localize "IRONSWORN.MakeAProgressRoll" score=filledBoxes}}'
    aria-disabled='false'
  ></button>
</section>