{{! Markdown }}

<p>{{entry.Description}}</p>

{{#if entry.Subtable}}
  <table>
    <tbody>
      {{#each entry.Subtable}}
        <tr>
          <td>{{Floor}}</td>
          <td>{{Ceiling}}</td>
          <td>{{Result}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}

<blockquote>{{entry.Quest}}</blockquote>
