{{log this}}

{{#*inline "stack"}}
{{#rangeEach from=from to=to current=(lookup data stat)}}
<div class="
        clickable block stack-row
        {{stat}}
        {{#if isCurrent}} selected {{/if}}
    " data-resource="{{stat}}" data-value="{{value}}">
    {{valueStr}}
</div>
{{/rangeEach}}
{{/inline}}

{{#*inline "progress"}}
<div class="flexcol item-row" data-id="{{id}}">
    <div class="flexrow">
        <h2>{{name}} ({{data.data.rank}})</h2>
        <div class="block clickable" style="flex-grow: 0;">
            <i class="edit-item fas fa-edit"></i>
        </div>
    </div>
    <div class="flexrow">
        {{#each (progressCharacters data.data.current)}}
        <div class="progress">{{{this}}}</div>
        {{/each}}
        <div class="clickable block markProgress" title="{{localize 'IRONSWORN.MarkProgress'}}">
            <i class="fas fa-play"></i>
        </div>
        <div class="clickable block fulfillProgress" title="{{localize 'IRONSWORN.FulfillVow'}}">
            <i class="fas fa-check"></i>
        </div>
    </div>
</div>
{{/inline}}

<form class="{{cssClass}} flexcol" autocomplete="off">

    <!-- Header row -->
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="50" width="50" />
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
                placeholder="{{localize 'IRONSWORN.Name'}}" /></h1>
        <div class="flexrow xp">
            <h4 style="flex-grow: 0; margin: 5px;">{{localize 'IRONSWORN.XP'}}</h4>
            <div class="flexrow">
                {{#rangeEach from=1 to=9 current=data.xp}}
                <div class="
                    clickable block xp
                    {{#if lteCurrent}} selected {{/if}}
                " data-resource="xp" data-value="{{value}}"></div>
                {{/rangeEach}}
                <div class="clickable block xp clear" data-resource="xp" data-value="0">×</div>
            </div>
        </div>
    </header>

    <div class="flexrow">
        <div class="flexcol margin-left">
            <div class="flexcol stack momentum">
                <h4 class="vertical">{{localize 'IRONSWORN.Momentum'}}</h4>
                {{>stack stat="momentum" from=10 to=-6}}
                <hr />
                <div class="clickable block stack-row" id="burn">
                    {{localize 'IRONSWORN.Burn'}}
                </div>
                {{localize 'IRONSWORN.Reset'}}: {{data.momentumReset}}
                {{localize 'IRONSWORN.Max'}}: {{data.momentumMax}}
            </div>
        </div>
        <div class="flexcol margin-left">
            <div class="flexcol stack health">
                <h4 class="vertical clickable text" data-stat="health">{{localize 'IRONSWORN.Health'}}</h4>
                {{>stack stat="health" from=5 to=0}}
            </div>
            <div class="flexcol stack spirit">
                <h4 class="vertical clickable text" data-stat="spirit">{{localize 'IRONSWORN.Spirit'}}</h4>
                {{>stack stat="spirit" from=5 to=0}}
            </div>
            <div class="flexcol stack supply">
                <h4 class="vertical clickable text" data-stat="supply">{{localize 'IRONSWORN.Supply'}}</h4>
                {{>stack stat="supply" from=5 to=0}}
            </div>
        </div>
        <div class="flexcol">
            <div class="flexrow stats">
                {{#*inline "stat"}}
                <div class="stat clickable block" data-stat="{{stat}}">
                    <h4>{{localize (concat 'IRONSWORN.' (capitalize stat))}}</h4>
                    <h3>{{lookup data stat}}</h3>
                </div>
                {{/inline}}

                {{#*inline "statEdit"}}
                <div class="stat block">
                    <h4>{{localize (concat 'IRONSWORN.' (capitalize stat))}}</h4>
                    <input name="data.{{stat}}" value="{{lookup data stat}}" />
                </div>
                {{/inline}}

                {{#if actor.flags.foundry-ironsworn.editStats}}
                {{>statEdit stat="edge"}}
                {{>statEdit stat="heart"}}
                {{>statEdit stat="iron"}}
                {{>statEdit stat="shadow"}}
                {{>statEdit stat="wits"}}
                {{else}}
                {{>stat stat="edge"}}
                {{>stat stat="heart"}}
                {{>stat stat="iron"}}
                {{>stat stat="shadow"}}
                {{>stat stat="wits"}}
                {{/if}}

                <div class="clickable block flexcol edit" id="edit-stats">
                    <p class="flexrow" style="align-items: center; padding-left: 4px;">
                        <i class="fas fa-edit"></i>
                    </p>
                </div>
            </div>

            <div class="flexrow">

                <div class="flexcol">
                    <section class="sheet-area">
                        <h1 style="text-align:center">{{localize 'IRONSWORN.Assets'}}</h1>
                        <div class="flexcol item-list">
                            <ol>
                                {{#each assets}}
                                <li class="item-row" data-id="{{id}}">
                                    <div class="asset-entry">
                                        <div class="flexrow">
                                            <strong>{{name}}</strong>
                                            <div class="block clickable" style="flex-grow: 0;">
                                                <i class="edit-item fas fa-edit"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="asset-summary" style="display:
                                    {{#if (lookup actor.data.flags.foundry-ironsworn (concat 'expanded-' id))}}
                                    block
                                    {{else}}
                                    none
                                    {{/if}}
                                    ;">
                                        {{#each data.data.fields}}
                                        <p><strong>{{name}}:</strong> {{value}}</p>
                                        {{/each}}

                                        {{#if data.data.description}}
                                        <p>{{{enrichHtml data.data.description}}}</p>
                                        {{/if}}

                                        <ul>
                                            {{#each data.data.abilities}}
                                            {{#if enabled}}
                                            <li>{{{enrichHtml description}}}</li>
                                            {{/if}}
                                            {{/each}}
                                        </ul>

                                        {{#if data.data.track.enabled}}
                                        <div class="flexrow" style="line-height: 30px;">
                                            {{#rangeEach from=0 to=data.data.track.max current=data.data.track.current}}
                                            <div class="clickable block track-target progress
                                                      {{#if isCurrent}} selected {{/if}}" data-value={{value}}>
                                                {{value}}
                                            </div>
                                            {{/rangeEach}}
                                            <div class="clickable block roll-asset-track" style="text-align: center; line-height: 40px;">
                                                <i class="fas fa-dice-d6"></i>
                                            </div>
                                        </div>
                                        {{/if}}

                                    </div>
                                </li>
                                {{/each}}
                            </ol>
                        </div>
                    </section>
                    <section class="sheet-area" style="flex-grow: 0;">
                        <h1 style="text-align:center">{{localize 'IRONSWORN.Bonds'}}</h1>
                        <div class="flexrow">
                            {{#each (progressCharacters bonds.count)}}
                            <div class="progress">{{{this}}}</div>
                            {{/each}}
                            <div class="block clickable" style="flex-grow: 0; padding: 5px; margin: 2px;">
                                <i class="edit-bonds fas fa-edit" data-id="{{bonds.id}}"></i>
                            </div>
                        </div>
                    </section>

                    <section class="sheet-area" style="flex-grow: 0;">
                        <h1 style="text-align:center">{{localize 'IRONSWORN.Debilities'}}</h1>

                        {{#*inline "debility"}}
                        <label class="checkbox">
                            <input type="checkbox" name="data.debility.{{name}}" {{checked (lookup data.debility
                                name)}}>
                            {{capitalize name}}
                        </label>
                        {{/inline}}

                        <div class="flexrow">
                            <div class="flexcol">
                                <h3>{{localize 'IRONSWORN.Conditions'}}</h3>
                                {{>debility name="wounded"}}
                                {{>debility name="unprepared"}}
                                {{>debility name="shaken"}}
                                {{>debility name="encumbered"}}
                            </div>
                            <div class="flexcol">
                                <h3>{{localize 'IRONSWORN.Banes'}}</h3>
                                {{>debility name="maimed"}}
                                {{>debility name="corrupted"}}

                                <h3>{{localize 'IRONSWORN.Burdens'}}</h3>
                                {{>debility name="cursed"}}
                                {{>debility name="tormented"}}
                            </div>
                        </div>
                    </section>

                </div>

                <div class="flexcol">
                    <section class="sheet-area progresses">
                        <h1 style="text-align:center">{{localize 'IRONSWORN.Vows'}}</h1>
                        {{#each vows}}
                        {{>progress}}
                        {{/each}}
                        <div class="block clickable add-item" data-type="vow">
                            <i class="fas fa-plus"></i>
                        </div>

                    </section>
                    <section class="sheet-area progresses">
                        <h1 style="text-align:center">{{localize 'IRONSWORN.Progress'}}</h1>
                        {{#each progresses}}
                        {{>progress}}
                        {{/each}}
                        <div class="block clickable add-item" data-type="progress">
                            <i class="fas fa-plus"></i>
                        </div>
                    </section>
                </div>

            </div>
        </div>
        <div class="flexcol margin-right">

            <h1 style="flex: 0 0 auto">{{localize 'IRONSWORN.Moves'}}</h1>
            <div class="flexcol item-list">
                <ol>
                    {{#each builtInMoves}}
                    {{#if separator}}
                    <h2>{{title}}</h2>
                    {{else}}
                    <li class="item-row" data-name="{{title}}">
                        <div class="built-in-move-entry">{{title}}</div>
                        <div class="move-summary" style="display: none;">{{{enrichHtml description}}}</div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ol>
            </div>

            <h1 style="flex: 0 0 auto">{{localize 'IRONSWORN.Oracles'}}</h1>
            <div class="flexcol item-list">

                {{#*inline "oracle"}}
                <li class="item">
                    <h3 class="clickable text move" data-table="Oracle: {{name}}">{{name}}</h3>
                </li>
                {{/inline}}

                <ol>
                    <h2>{{localize 'IRONSWORN.Plot'}}</h2>
                    {{> oracle name="Action"}}
                    {{> oracle name="Theme"}}
                    {{> oracle name="Combat Action"}}
                    {{> oracle name="Settlement Trouble"}}
                    {{> oracle name="Major Plot Twist"}}
                    {{> oracle name="Mystic Backlash"}}
                    {{> oracle name="Challenge Rank"}}
                    <h2>{{localize 'IRONSWORN.Location'}}</h2>
                    {{> oracle name="Region"}}
                    {{> oracle name="Location"}}
                    {{> oracle name="Coastal Waters Location"}}
                    {{> oracle name="Location Descriptor"}}
                    {{> oracle name="Settlement Name"}}
                    {{> oracle name="Settlement Name (Landscape Feature)"}}
                    {{> oracle name="Settlement Name (Manmade Edifice)"}}
                    {{> oracle name="Settlement Name (Creature)"}}
                    {{> oracle name="Settlement Name (Historical Event)"}}
                    {{> oracle name="Settlement Name (Old Language)"}}
                    {{> oracle name="Settlement Name (Season or Environmental Aspect)"}}
                    {{> oracle name="Settlement Name (Something Else)"}}
                    {{> oracle name="Quick Settlement Name (Prefix)"}}
                    {{> oracle name="Quick Settlement Name (Suffix)"}}
                    <h2>{{localize 'IRONSWORN.Character'}}</h2>
                    {{> oracle name="Character Role"}}
                    {{> oracle name="Character Goal"}}
                    {{> oracle name="Character Descriptor"}}
                    {{> oracle name="Character Disposition"}}
                    <h2>{{localize 'IRONSWORN.Names'}}</h2>
                    {{> oracle name="Ironlander Names"}}
                    {{> oracle name="Elf Names"}}
                    {{> oracle name="Giant Names"}}
                    {{> oracle name="Varou Names"}}
                    {{> oracle name="Troll Names"}}
                    <h2>{{localize 'IRONSWORN.Moves'}}</h2>
                    {{> oracle name="Choice (Almost Certain)"}}
                    {{> oracle name="Choice (Likely)"}}
                    {{> oracle name="Choice (50/50)"}}
                    {{> oracle name="Choice (Unlikely)"}}
                    {{> oracle name="Choice (Small Chance)"}}
                    <!-- TODO: Delve oracles? -->
                </ol>
            </div>
        </div>
    </div>
</form>
