<form class="{{cssClass}} flexcol" autocomplete="off">

    <!-- Header row -->
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="50" width="50" />
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
        <div class="xp">

        </div>
    </header>

    {{#*inline "stack"}}
    {{#rangeEach from=from to=to current=(lookup data stat)}}
    <div class="clickable block stack-row {{stat}} {{#if isCurrent}} selected {{/if}}" data-resource="{{stat}}"
        data-value="{{value}}">
        {{valueStr}}
    </div>
    {{/rangeEach}}
    {{/inline}}

    <div class="flexrow">
        <div class="flexcol margin-left">
            <div class="flexcol stack momentum">
                <h4 class="vertical">Momentum</h4>
                {{>stack stat="momentum" from=10 to=-6}}
                <hr />
                <div class="clickable block stack-row" id="burn">
                    Burn
                </div>
                Reset: {{data.momentumReset}}
                Max: {{data.momentumMax}}
            </div>
        </div>
        <div class="flexcol margin-left">
            <div class="flexcol stack health">
                <h4 class="vertical clickable text" data-stat="health">Health</h4>
                {{>stack stat="health" from=5 to=0}}
            </div>
            <div class="flexcol stack spirit">
                <h4 class="vertical clickable text" data-stat="spirit">Spirit</h4>
                {{>stack stat="spirit" from=5 to=0}}
            </div>
            <div class="flexcol stack supply">
                <h4 class="vertical clickable text" data-stat="supply">Supply</h4>
                {{>stack stat="supply" from=5 to=0}}
            </div>
        </div>
        <div class="flexcol">
            <div class="flexrow stats">
                {{#*inline "stat"}}
                <div class="stat clickable block" data-stat="{{stat}}">
                    <h4>{{stat}}</h4>
                    <h3>{{lookup data stat}}</h3>
                </div>
                {{/inline}}

                {{#*inline "statEdit"}}
                <div class="stat block">
                    <h4>{{stat}}</h4>
                    <input name="data.{{stat}}" value="{{lookup data stat}}" />
                </div>
                {{/inline}}

                {{#if actor.flags.foundry-ironsworn.editStats}}
                {{>statEdit stat="edge"}}
                {{>statEdit stat="heart"}}
                {{>statEdit stat="iron"}}
                {{>statEdit stat="shadow"}}
                {{>statEdit stat="wits"}}
                {{else}}
                {{>stat stat="edge"}}
                {{>stat stat="heart"}}
                {{>stat stat="iron"}}
                {{>stat stat="shadow"}}
                {{>stat stat="wits"}}
                {{/if}}

                <div class="clickable block flexcol edit" id="edit-stats">
                    <p class="flexrow" style="align-items: center; padding-left: 4px;">
                        <i class="fas fa-edit"></i>
                    </p>
                </div>
            </div>

            <div class="flexrow">

                <div class="flexcol">
                    <h1 style="text-align:center">assets</h1>
                    <h1 style="text-align:center">bonds</h1>
                    <h1 style="text-align:center">debilities</h1>
                </div>

                <div class="flexcol">
                    <h1 style="text-align:center">vows</h1>
                    <h1 style="text-align:center">progress</h1>
                    <h1 style="text-align:center">sites</h1>
                </div>

            </div>
        </div>
        <div class="flexcol margin-right">

            <h1 style="flex: 0 0 auto">moves</h1>
            <div class="flexcol move-list">
                <ol>
                    {{#each moveOrder as |key|}}
                    {{#with (lookup ../moves [key])}}
                    <li class="move-entry" data-move="{{key}}">
                        <h3>{{title}}</h3>
                    </li>
                    {{/with}}
                    {{/each}}
                </ol>
            </div>

            <h1 style="flex: 0 0 auto">oracles</h1>
            <div class="flexcol move-list">

                {{#*inline "oracle"}}
                <li class="item">
                    <h3 class="clickable text move" data-table="Oracle: {{name}}">{{name}}</h3>
                </li>
                {{/inline}}

                <ol>
                    <h2>Plot</h2>
                    {{> oracle name="Action"}}
                    {{> oracle name="Theme"}}
                    {{> oracle name="Combat Action"}}
                    {{> oracle name="Settlement Trouble"}}
                    {{> oracle name="Major Plot Twist"}}
                    {{> oracle name="Mystic Backlash"}}
                    {{> oracle name="Challenge Rank"}}
                    <h2>Location</h2>
                    {{> oracle name="Region"}}
                    {{> oracle name="Location"}}
                    {{> oracle name="Coastal Waters Location"}}
                    {{> oracle name="Location Descriptor"}}
                    {{> oracle name="Settlement Name"}}
                    {{> oracle name="Settlement Name (Landscape Feature)"}}
                    {{> oracle name="Settlement Name (Manmade Edifice)"}}
                    {{> oracle name="Settlement Name (Creature)"}}
                    {{> oracle name="Settlement Name (Historical Event)"}}
                    {{> oracle name="Settlement Name (Old Language)"}}
                    {{> oracle name="Settlement Name (Season or Environmental Aspect)"}}
                    {{> oracle name="Settlement Name (Something Else)"}}
                    {{> oracle name="Quick Settlement Name (Prefix)"}}
                    {{> oracle name="Quick Settlement Name (Suffix)"}}
                    <h2>Character</h2>
                    {{> oracle name="Character Role"}}
                    {{> oracle name="Character Goal"}}
                    {{> oracle name="Character Descriptor"}}
                    {{> oracle name="Character Disposition"}}
                    <h2>Names</h2>
                    {{> oracle name="Ironlander Names"}}
                    {{> oracle name="Elf Names"}}
                    {{> oracle name="Giant Names"}}
                    {{> oracle name="Varou Names"}}
                    {{> oracle name="Troll Names"}}
                    <h2>Moves</h2>
                    {{> oracle name="Choice (Almost Certain)"}}
                    {{> oracle name="Choice (Likely)"}}
                    {{> oracle name="Choice (50/50)"}}
                    {{> oracle name="Choice (Unlikely)"}}
                    {{> oracle name="Choice (Small Chance)"}}
                    <!-- TODO: Delve oracles? -->
                </ol>
            </div>
        </div>
    </div>
</form>

<!--
<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
            <div class="resource">
                <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number" />
                <span> / </span>
                <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number" />
            </div>
            <div class="resource">
                <input type="text" name="data.power.value" value="{{data.power.value}}" data-dtype="Number" />
                <span> / </span>
                <input type="text" name="data.power.max" value="{{data.power.max}}" data-dtype="Number" />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="item-list">
                {{#each actor.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <header class="attributes-header flexrow">
                <span class="attribute-key">Attribute Key</span>
                <span class="attribute-value">Value</span>
                <span class="attribute-label">Label</span>
                <span class="attribute-dtype">Data Type</span>
                <a class="attribute-control" data-action="create"><i class="fas fa-plus"></i></a>
            </header>

            <ol class="attributes-list">
                {{#each actor.data.attributes as |attrib key|}}
                <li class="attribute flexrow" data-attribute="{{key}}">
                    <span class="attribute-label flexrow" name="data.attributes.{{key}}.label">{{attrib.label}}</span>
                    <div class="attribute-editbox flexrow">
                        <input type="text" class="attribute-value" name="data.attributes.{{key}}.value"
                            value="{{attrib.value}}" data-dtype="Number" />
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </section>
</form>
-->
