{{!
{Name: "Face Danger", Source: {…}, Stats: Array(5), Text: "When …", …}
}}

<article
  class='ironsworn-message dice-roll {{themeClass}} flexcol'
  data-tooltip-direction='LEFT'
>
  <div class='ironsworn-roll'>

    <p class='flexrow' style='align-items: center;'>
      <span>{{localize 'IRONSWORN.Feature'}}:
        {{theme.name}}
        {{domain.name}}</span>
      <span
        class='roll die d10 isiconbg-d10-blank'
        style='flex: 0 0 25px;'
      >{{roll.total}}</span>
    </p>

    <h4>
      {{feature.low}}–{{feature.high}}:
      {{feature.description}}
    </h4>

  </div>
</article>