{{!--
{Name: "Face Danger", Source: {…}, Stats: Array(5), Text: "When …", …}
--}}

<div class="theme-ironsworn">
  <h3>{{localize 'IRONSWORN.Feature'}}</h3>

  {{!-- Roll output --}}

  <h4>{{item.name}}</h4>

  <p>
    {{feature.low}} – {{feature.high}}: {{feature.description}}
  </p>

</div>
