<div class='dice-roll theme-ironsworn flexcol'>
  <div class='ironsworn-roll'>

    <p class='flexrow' style='align-items: center;'>
      <span>{{localize 'IRONSWORN.Denizen'}}: {{site.name}}</span>
      <span class='roll die d10' style='flex: 0 0 25px;'>{{roll.total}}</span>
    </p>

    <h4 class='dice-formula'>
      {{denizen.low}}–{{denizen.high}}:
      {{denizen.description}}
    </h4>

  </div>
</div>
