<article
	class='ironsworn-message dice-roll {{themeClass}} flexcol'
	data-tooltip-direction='LEFT'
>
	<div class='ironsworn-roll'>

		<p class='flexrow' style='align-items: center;'>
			<span>{{localize 'IRONSWORN.DELVESITE.Denizen'}}: {{site.name}}</span>
			<span
				class='roll die d10 isiconbg-d10-blank'
				style='flex: 0 0 25px;'
			>{{roll.total}}</span>
		</p>

		<h4>
			{{#if
				(eq denizen.range.[0] denizen.range.[1])
			}}{{denizen.range.[0]}}{{else}}{{denizen.range.[0]}}–{{denizen.range.[1]}}{{/if}}:
			{{denizen.text}}
		</h4>

	</div>
</article>
