{{!--
actor: IronswornActor
bonus: undefined | number
hitType: "Strong Hit" (already i18n)
move: {Name: "Face Danger", Source: {…}, Stats: Array(5), Text: "When …", …}
roll: Roll {data: {…}, options: {…}, terms: Array(1), _dice: Array(0), _formula: "{d6 + 2,d10,d10}", …}
speaker: {scene: "fpNZNndvi1LZKq1u", actor: null, token: null, alias: "Gamemaster"}
stat: "iron"
title: "Face Danger (iron)"
--}}

<div class="dice-tooltip">
  {{log this}}
  <h3>{{title}}</h3>

  <div class="dice-result ironsworn-roll">
    <div class="dice-formula">
      <p class="hit-type">{{hitType}}</p>
      <p>{{{actionDieFormula}}} {{localize 'IRONSWORN.Versus'}} {{{challengeDice}}}</p>
    </div>
  </div>

</div>
