{{!--
{Name: "Face Danger", Source: {…}, Stats: Array(5), Text: "When …", …}
--}}

<div class="theme-ironsworn">
  <h3>{{Name}}</h3>

  {{{Description}}}

  {{{Strong}}}
  {{{Weak}}}
  {{{Miss}}}

</div>
