{{!--
{Name: "Face Danger", Source: {…}, Stats: Array(5), Text: "When …", …}
--}}

<div class="theme-ironsworn">
  <h3>{{move.Name}}</h3>

  {{{move.Description}}}

  {{{move.Strong}}}
  {{{move.Weak}}}
  {{{move.Miss}}}

  {{#if bonusContent}}
  <div class="bonus-content">
    {{{bonusContent}}}
  </div>
  {{/if}}

</div>
