{{!
{Name: "Face Danger", Source: {…}, Stats: Array(5), Text: "When …", …}
}}

<article
  class='ironsworn-message {{themeClass}} flexcol'
  data-tooltip-direction='LEFT'
>
  <h3>{{move.Name}}</h3>

  <div
    class='dice-result dice-tooltip dice-roll ironsworn-roll'
    data-move='{{move.Name}}'
  >
    <div class='move-outcome'>

      {{{move.Description}}}

      {{{move.Strong}}}
      {{{move.Weak}}}
      {{{move.Miss}}}

      {{#if bonusContent}}
        <div class='bonus-content'>
          {{{bonusContent}}}
        </div>
      {{/if}}

    </div>
  </div>

</article>