{{!--
displayRows: Array(3)
0: {low: 36, high: 42, text: 'Glassy impact craters', selected: false}
result: TableResult {apps: {…}, _sheet: null, parent: RollTable, pack: 'foundry-ironsworn.starforgedoracles', data:
TableResultData}
roll: Roll {data: {…}, options: {…}, terms: Array(1), _dice: Array(0), _formula: 'd100', …}
table: RollTable {parent: null, pack: 'foundry-ironsworn.starforgedoracles', data: RollTableData, …}
--}}

<div class="table-draw {{themeClass}}" data-table-id="{{table.id}}">
  <h3>{{table.name}}</h3>

  {{!-- Roll result --}}
  <div class="dice-roll">
    <div class="dice-result">
      <h4 class="dice-total">
        <i class="fas fa-dice-d20"></i>
        {{roll.total}}
      </h4>
    </div>
  </div>

  {{!-- Table rows --}}
  <table>
    <tbody>
      {{#each displayRows}}
      <tr class="{{#if selected}}selected{{/if}}">
        <td>{{low}}-{{high}}</td>
        <td>{{text}}</td>
        <td style="padding: 0 0.5rem;">{{#if selected}}<i class="fas fa-arrow-left"></i>{{/if}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <button class="starforged__oracle__reroll">
    <i class="fas fa-undo-alt"></i>
    {{localize 'IRONSWORN.Reroll'}}
  </button>
</div>
