{{!--
displayRows: Array(3)
0: {low: 36, high: 42, text: 'Glassy impact craters', selected: false}
result: TableResult {apps: {…}, _sheet: null, parent: RollTable, pack: 'foundry-ironsworn.starforgedoracles', data:
TableResultData}
roll: Roll {data: {…}, options: {…}, terms: Array(1), _dice: Array(0), _formula: 'd100', …}
table: RollTable {parent: null, pack: 'foundry-ironsworn.starforgedoracles', data: RollTableData, …}
--}}

<article class="ironsworn-message table-draw {{themeClass}}" data-table-id="{{table.id}}"
  data-tooltip-direction="LEFT"
  {{#if packName}}
  data-pack-name="{{packName}}"
  {{/if}}
>
  <small>{{oraclePath}}</small>
  <h2>{{table.name}}</h2>

  {{!-- Table rows --}}
  <table>
    <tbody>
      {{#each displayRows}}
      <tr class="{{#if selected}}selected{{/if}}">
        <td>{{#if (eq low high)}}{{low}}{{else}}{{low}}-{{high}}{{/if}}</td>
        <td>{{{text}}}</td>
        <td style="padding: 0 5px; white-space: nowrap;">
          {{#if selected}}
          <i class="isicon-d10-tilt"></i>
          {{../roll.total}}
          {{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <button class="starforged__oracle__reroll">
    <i class="fas fa-undo-alt"></i>
    {{localize 'IRONSWORN.Reroll'}}
  </button>
</article>
