{{!--
themeClass: "theme-ironsworn"
actor: IronswornActor
bonus: undefined | number
hitType: "Weak Hit" (already i18n)
resultText?: "On a strong hit, ..." (already i18n)
momentumHitType: "STRONG"
momentumHitTypeI18n: "Strong Hit" (already i18n)
move: {Name: "Face Danger", Source: {…}, Stats: Array(5), Text: "When …", …}
roll: Roll {data: {…}, options: {…}, terms: Array(1), _dice: Array(0), _formula: "{d6 + 2,d10,d10}", …}
speaker: {scene: "fpNZNndvi1LZKq1u", actor: null, token: null, alias: "Gamemaster"}
stat: "iron"
title: "Face Danger (iron)"
callerContent: "<button>maybe</button>"
--}}

<article class="ironsworn-message {{themeClass}} flexcol"
  data-tooltip-direction="LEFT">
  <h3>{{title}}</h3>

  <div class="dice-result dice-tooltip dice-roll ironsworn-roll"
       {{#if move}}data-move="{{move.Name}}"{{/if}}
  >
    <div class="dice-formula">
      <p>{{{actionScoreFormula}}} {{localize 'IRONSWORN.Versus'}} {{{challengeDice}}}</p>
    </div>
    <div class="move-outcome">
      {{#if negativeMomentumCancel}}
      <p><em>{{localize 'IRONSWORN.NegativeMomentumCancel'}}</em></p>
      {{/if}}

      {{#if resultText}}
      {{{resultText}}}
      {{else}}
      {{hitType}}
      {{/if}}

      {{#if bonusContent}}
      <div class="bonus-content">
        {{{bonusContent}}}
      </div>
      {{/if}}
    </div>
  </div>

  {{#if momentumHitType}}
  <div class="momentum-burn">
    <button class="icon-button fas fa-fire burn-momentum"
            data-actor="{{actor.id}}"
            data-move="{{move.Name}}"
            data-stat="{{stat}}"
            data-hittype="{{momentumHitType}}"
    >
      <span class="button-text">
        {{{localize 'IRONSWORN.BurnForUpgrade' type=momentumHitTypeI18n}}}
      </span>
    </button>
  </div>
  {{/if}}

</article>
