{{!
actor: IronswornActor {…}
bonus: 0
hitType: "Weak Hit"
mode: "Any"
momentumHitType: "STRONG"
momentumHitTypeI18n: "Strong Hit"
move: IronswornItem {apps: {…}, _sheet: null, parent: null, pack: 'foundry-ironsworn.starforgedmoves', data: ItemData}
nextOracles: []
resultText: "You succeed, but not without a cost. Make a suffer move (-1)."
roll: Roll {data: {…}, options: {…}, terms: Array(1), _dice: Array(0), _formula: '{d6 + 1,d10,d10}', …}
stats: ['shadow']
themeClass: "theme-ironsworn"
title: "Face Danger (Shadow)"
usedStat: "shadow"
}}

<article
  class='ironsworn-message {{themeClass}} flexcol'
  data-tooltip-direction='LEFT'
>
  <h3>{{title}}</h3>

  <div
    class='dice-result dice-tooltip dice-roll ironsworn-roll'
    data-moveid='{{move.data.data.dfid}}'
  >
    <div class='dice-formula'>
      <p>{{{actionScoreFormula}}}
        {{localize 'IRONSWORN.Versus'}}
        {{{challengeDice}}}</p>
    </div>
    <div class='move-outcome'>
      {{#if negativeMomentumCancel}}
        <p><em>{{localize 'IRONSWORN.NegativeMomentumCancel'}}</em></p>
      {{/if}}

      <strong>{{hitType}}: </strong>
      {{{enrichMarkdown resultText}}}
    </div>
  </div>

  {{#if momentumHitType}}
    <div class='momentum-burn'>
      <button
        class='icon-button fas fa-fire burn-momentum-sf'
        type='button'
        data-actor='{{actor.id}}'
        data-move='{{move.id}}'
        data-mode='{{mode}}'
        data-stat='{{usedStat}}'
        data-hittype='{{momentumHitType}}'
        data-hittypetext='{{momentumHitTypeI18n}}'
      >
        <span class='button-text'>
          {{{localize 'IRONSWORN.BurnForUpgrade' type=momentumHitTypeI18n}}}
        </span>
      </button>
    </div>
  {{/if}}

  {{#if nextOracles}}
    <hr />
    {{#each nextOracles}}
      <button
        class='starforged__oracle__roll icon-button clickable isicon-oracle'
        data-tooltip='{{{localize "IRONSWORN.RollOracleTable" title=name}}}'
        data-tableid='{{id}}'
        type='button'
      >
        <span class='button-text'>{{name}}</span>
      </button>
    {{/each}}
  {{/if}}

</article>