{{!
{Name: "Face Danger", Source: {…}, Stats: Array(5), Text: "When …", …}
}}

<article
  class='ironsworn-message {{themeClass}} flexcol'
  data-tooltip-direction='LEFT'
>
  <h3>{{move.name}}</h3>

  <div
    class='dice-result dice-tooltip dice-roll ironsworn-roll'
    data-move='{{move.Name}}'
  >
    <div class='move-outcome'>
      {{{stripTables (enrichMarkdown move.data.data.Text)}}}
    </div>
  </div>

  {{#if nextOracles}}
    <hr />
    {{#each nextOracles}}
      <button
        class='starforged__oracle__roll icon-button clickable isicon-oracle'
        data-tooltip='{{{localize "IRONSWORN.RollOracleTable" title=name}}}'
        data-tableid='{{id}}'
        type='button'
      >
        <span class='button-text'>{{name}}</span>
      </button>
    {{/each}}
  {{/if}}

</article>