<style>
	.first-start-content { margin: 1em; } .first-start-content .box label {
	padding: 1rem; } .first-start-content h1 { border: none; }
	.first-start-content h2 { border: none; margin-top: 1rem; }
	.first-start-content .flexcol { align-items: center; } .first-start-content
	img { border: none; width: 170px; }

</style>

<form class='first-start-content'>
	<h1>{{localize 'IRONSWORN.First Start.Welcome'}}</h1>
	<p>{{localize 'IRONSWORN.First Start.Intro'}}</p>

	<div class='boxgroup'>
		<div class='flexrow boxrow'>
			<div
				class='box flexcol clickable block'
				id='select-ironsworn'
				style='padding: 5px'
			>
				<img
					src='systems/foundry-ironsworn/assets/icons/logo-ironsworn-md.svg'
					alt='Ironsworn sheet'
				/>
				<p>
					{{localize 'IRONSWORN.Ironsworn'}}
				</p>
			</div>
			<div
				class='box flexcol clickable block'
				id='select-starforged'
				style='padding: 5px'
			>
				<img
					src='systems/foundry-ironsworn/assets/icons/logo-starforged-md.svg'
					alt='Starforged sheet'
				/>
				<p>
					{{localize 'IRONSWORN.Starforged'}}
				</p>
			</div>

			{{#if sunderedislesBeta}}
				<div
					class='box flexcol clickable block'
					id='select-sunderedisles'
					style='padding: 5px'
				>
					<img
						src='systems/foundry-ironsworn/assets/icons/logo-sunderedisles-md.svg'
						alt='Sundered Isles sheet'
					/>
					<p>
						{{localize 'IRONSWORN.SunderedIsles'}}
					</p>
				</div>
			{{/if}}
		</div>
	</div>

</form>
