<style>
	.first-start-content {
		margin: 0 1rem 1rem 1rem
	}

	.first-start-content .box {
		padding: 5px;
	}

	.first-start-content h2 {
		border: none;
		margin-top: 1rem;
	}

	.first-start-content h3 {
		margin: 0.25rem 0;
	}

	.first-start-content .flexcol {
		align-items: center;
	}

	.first-start-content img {
		border: none;
	}

	.first-start-content input[type='checkbox'] {
		width: inherit;
		height: inherit;
	}
</style>

<form class='first-start-content'>

	<div class='flexcol'>
		<h2>Character Sheet</h2>
		<p>Choose the default sheet to use for characters.</p>
	</div>
	<div class='boxgroup'>
		<div class='flexrow boxrow'>
			<div class='box flexcol' style='padding: 5px'>
				<label class='flexcol' style='width: 100%;'>
					<img src='systems/foundry-ironsworn/assets/welcome/ironsworn-sheet.jpg' alt='Ironsworn-style sheet' />
					<p>
						<input type='radio' name='sheet' value='ironsworn' checked />
						{{localize 'IRONSWORN.Ironsworn'}}
					</p>
				</label>
			</div>
			<div class='box flexcol' style='padding: 5px'>
				<label class='flexcol' style='width: 100%;'>
					<img src='systems/foundry-ironsworn/assets/welcome/starforged-sheet.jpg' alt='Starforged-style sheet' />
					<p>
						<input type='radio' name='sheet' value='starforged' />
						{{localize 'IRONSWORN.Starforged'}}
					</p>
				</label>
			</div>
		</div>
	</div>

	<div class='flexcol'>
		<h2>{{localize 'IRONSWORN.RULESETS.Rulesets'}}</h2>
		<p>Choose which books should have active content in this world.</p>
	</div>

	{{#*inline "rulesetCheckbox"}}
	<label>
		<input type='checkbox' value='{{id}}' {{#if enabled}}checked{{/if}} />
		{{name}}
	</label>
	{{/inline}}

	<div class='boxgroup'>
		<div class='flexrow boxrow'>
			<div class='box flexcol'>
				<h3>Ironsworn Classic</h3>
				{{> rulesetCheckbox rulesets.classic}}
				{{> rulesetCheckbox rulesets.delve}}
			</div>
			<div class='box flexcol'>
				<h3>Starforged</h3>
				{{> rulesetCheckbox rulesets.starforged}}
				{{> rulesetCheckbox rulesets.sundered-isles}}
			</div>
		</div>
	</div>

	<div class='flexcol' style='margin-top: 1em;'>
		<button class='ironsworn__save' style='flex: 1; justify-content: center; width: 100%'>
			<i class='fas fa-feather'></i>
			{{localize 'Save'}}
		</button>
	</div>

</form>
