<form>
  {{#each truths.Categories}}
  <h2>{{Name}}</h2>

  {{#each Options}}
  <input type="radio" name="{{../Name}}" id="{{concat ../Name @index}}">
  <label for="{{concat ../Name @index}}">
    <p>{{Truth}}</p>
    {{!-- TODO: I18n for 'Quest Starter:' --}}
    <p><em>Quest Starter: {{Quest}}</em></p>
  </label>
  {{/each}}
  <input type="radio" name="{{../Name}}" id="{{concat ../Name 'custom'}}">
  {{!-- TODO: i18n for 'Custom Truth' --}}
  <input type="text" id="{{concat ../Name 'custom'}}" placeholder="Custom Truth">

  {{/each}}
</form>
