<form>
  {{#each truths.Categories}}
  <h2 style="margin-top: 1em;">{{Name}}</h2>

  {{#each Options}}
  <div class="flexrow">
    <input type="radio" name="{{../Name}} class="nogrow" style="flex: 0 0 20px; margin: 8px;""
      id="{{concat ../Name '#' @index}}" data-category="{{../Name}}">
    <div class="flexcol">
      <label for="{{concat ../Name '#' @index}}" class="description">
        <p>{{Truth}}</p>
        <p><em>{{localize 'IRONSWORN.TruthQuestStarter'}} {{Quest}}</em></p>
      </label>
    </div>
  </div>
  {{/each}}

  <div class="flexrow">
    <input type="radio" name="{{Name}} class="nogrow" style="flex: 0 0 20px; margin: var(--ironsworn-spacer-md) 8px;""
      id="{{concat Name '#custom'}}"  data-category="{{Name}}">
    <input type="text" class="ironsworn__custom__truth description" placeholder="{{localize 'IRONSWORN.CustomTruth'}}">
  </div>

  {{/each}}

  <hr>

  <button class="ironsworn__save__truths">
    <i class="fas fa-feather"></i>
    {{localize 'IRONSWORN.SaveYourTruths'}}
  </button>
</form>
