<form>
  {{#each truths.Categories}}
  <h2 style="margin-top: 1em;">{{Name}}</h2>

  {{#each Options}}
  <div class="flexrow">
    <input type="radio" name="{{../Name}} class="nogrow" style="flex-basis: 20px; margin: 8px;""
      id="{{concat ../Name '#' @index}}" data-category="{{../Name}}">
    <div class="flexcol">
      <label for="{{concat ../Name '#' @index}}" class="description">
        <p>{{Truth}}</p>
        {{!-- TODO: I18n for 'Quest Starter:' --}}
        <p><em>Quest Starter: {{Quest}}</em></p>
      </label>
    </div>
  </div>
  {{/each}}

  <div class="flexrow">
    <input type="radio" name="{{Name}} class="nogrow" style="flex-basis: 20px; margin: 5px 8px;""
      id="{{concat Name '#custom'}}"  data-category="{{Name}}">
    {{!-- TODO: i18n for 'Custom Truth' --}}
    <input type="text" class="ironsworn__custom__truth description" placeholder="Custom Truth">
  </div>

  {{/each}}

  <hr>

  <button class="ironsworn__save__truths">
    <i class="fas fa-feather"></i>
    {{!-- TODO: i18n --}}
    Save Your Truths
  </button>
</form>
