<form>
  {{#each truths.Categories}}
  <h2 style="margin-top: 1em;">{{Name}}</h2>

  {{#each Options}}
  <div class="flexrow">
    <input class="nogrow" style="flex-basis: 20px; margin: 8px;" type="radio" name="{{../Name}}" id="{{concat ../Name @index}}">
    <div class="flexcol">
      <label for="{{concat ../Name @index}}">
        <p>{{Truth}}</p>
        {{!-- TODO: I18n for 'Quest Starter:' --}}
        <p><em>Quest Starter: {{Quest}}</em></p>
      </label>
    </div>
  </div>
  {{/each}}

  <div class="flexrow">
    <input class="nogrow" style="flex-basis: 20px; margin: 5px 8px;" type="radio" name="{{Name}}" id="{{concat Name 'custom'}}">
    {{!-- TODO: i18n for 'Custom Truth' --}}
    <input type="text" class="ironsworn__custom__truth" placeholder="Custom Truth">
  </div>

  {{/each}}
</form>
