{{#*inline "stack"}}
{{#rangeEach from=from to=to current=(lookup data.data stat) min=min max=max}}
<div class="
        clickable block stack-row
        ironsworn__stat__value
        {{stat}}
        {{#if isCurrent}} selected {{/if}}
        {{#if isOutOfBounds}} disabled {{/if}}
    " data-resource="{{stat}}" data-value="{{value}}">
  {{valueStr}}
</div>
{{/rangeEach}}
{{/inline}}

{{#*inline "progress"}}
<div class="flexcol item-row" data-id="{{id}}">
  <div class="flexrow">
    <h2>{{name}} ({{localize (concat 'IRONSWORN.' (capitalize data.data.rank))}})</h2>
    {{#if actor.data.flags.foundry-ironsworn.edit-mode}}
    <div class="clickable block nogrow ironsworn__{{type}}__delete" data-item="{{id}}">
      <i class="fas fa-trash"></i>
    </div>
    {{/if}}
    <div class="clickable block nogrow ironsworn__{{type}}__settings" data-item="{{id}}">
      <i class="fas fa-edit"></i>
    </div>
    <div class="clickable block nogrow ironsworn__progress__mark" {{! This works for vows too }}
      title="{{localize 'IRONSWORN.MarkProgress'}}" data-item="{{id}}">
      <i class="fas fa-play"></i>
    </div>
    <div class="clickable block ironsworn__progress__fulfill" title="{{localize 'IRONSWORN.FulfillVow'}}"
      style="flex-grow: 0;" data-item="{{id}}">
      <i class="fas fa-check"></i>
    </div>
  </div>
  <div class="flexrow">
    {{#each (progressCharacters data.data.current)}}
    <div class="progress">{{{this}}}</div>
    {{/each}}
  </div>
</div>
{{/inline}}

<form class="{{cssClass}} flexcol" autocomplete="off">

  <!-- Header row -->
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="50" width="50" />
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
        placeholder="{{localize 'IRONSWORN.Name'}}" /></h1>
    <div class="flexrow xp">
      <h4 style="flex-grow: 0; margin: 5px;">{{localize 'IRONSWORN.XP'}}</h4>
      <div class="flexrow">
        {{#rangeEach from=1 to=9 current=data.data.xp}}
        <div class="
                    clickable block xp 
                    ironsworn__stat__value
                    {{#if lteCurrent}} selected {{/if}}
                " data-resource="xp" data-value="{{value}}"></div>
        {{/rangeEach}}
        <div class="clickable block xp clear ironsworn__stat__value" data-resource="xp" data-value="0">
          ×
        </div>
      </div>
    </div>
  </header>

  <div class="flexrow">
    <div class="flexcol margin-left">
      <div class="flexrow" style="flex-wrap:nowrap;">
        <div class="flexcol stack momentum">
          <div class="nogrow">
            {{>stack stat="momentum" from=10 to=-6 max=data.data.momentumMax}}
          </div>
          <div class="nogrow">
            <div class="clickable block stack-row ironsworn__momentum__burn" style="padding: 0 5px;">
              {{localize 'IRONSWORN.Burn'}}
            </div>
          </div>
          {{localize 'IRONSWORN.Reset'}}: {{data.data.momentumReset}}
          {{localize 'IRONSWORN.Max'}}: {{data.data.momentumMax}}
        </div>
        <h4 class="vertical">{{localize 'IRONSWORN.Momentum'}}</h4>
      </div>
    </div>
    <div class="flexcol">
      <div class="flexrow stats">
        {{#*inline "stat"}}
        <div class="stat clickable block ironsworn__stat__roll" data-stat="{{stat}}">
          <h4>{{localize (concat 'IRONSWORN.' (capitalize stat))}}</h4>
          <h3>{{lookup data.data stat}}</h3>
        </div>
        {{/inline}}

        {{#*inline "statEdit"}}
        <div class="stat block">
          <h4>{{localize (concat 'IRONSWORN.' (capitalize stat))}}</h4>
          <input name="data.{{stat}}" value="{{lookup data.data stat}}" />
        </div>
        {{/inline}}

        {{#if actor.data.flags.foundry-ironsworn.edit-mode}}
        {{>statEdit stat="edge"}}
        {{>statEdit stat="heart"}}
        {{>statEdit stat="iron"}}
        {{>statEdit stat="shadow"}}
        {{>statEdit stat="wits"}}
        {{else}}
        {{>stat stat="edge"}}
        {{>stat stat="heart"}}
        {{>stat stat="iron"}}
        {{>stat stat="shadow"}}
        {{>stat stat="wits"}}
        {{/if}}
      </div>

      <div class="flexcol">
        <div class="flexrow">

          <div class="flexcol">
            <section class="sheet-area" style="flex-grow: 0;">
              <h1 style="text-align:center">{{localize 'IRONSWORN.Bonds'}}</h1>
              <div class="flexrow">
                {{#each (progressCharacters bonds.count)}}
                <div class="progress">{{{this}}}</div>
                {{/each}}
                <div data-item="{{bonds.id}}" class="ironsworn__bondset__settings block clickable"
                  style="flex-grow: 0; padding: 5px; margin: 2px;">
                  <i class="fas fa-edit"></i>
                </div>
              </div>
            </section>

            <section class="sheet-area">
              <h1 style="text-align:center">{{localize 'IRONSWORN.Assets'}}</h1>
              <div class="flexcol item-list">
                <ol>
                  {{#each assets}}
                  <li class="item-row ironsworn__asset" data-item="{{id}}">
                    <div class="asset-entry ironsworn__asset__expand" data-item="{{id}}">
                      <div class="flexrow">
                        <strong>
                          {{#if data.flags.foundry-ironsworn.expanded}}
                          ⯆
                          {{else}}
                          ⯈
                          {{/if}}
                          {{name}}
                        </strong>
                        {{#if actor.data.flags.foundry-ironsworn.edit-mode}}
                        <div class="clickable block nogrow ironsworn__{{type}}__delete" data-item="{{id}}"
                          style="margin: 0 5px;">
                          <i class="fas fa-trash"></i>
                        </div>
                        {{/if}}
                        <div data-item="{{id}}" class="block clickable nogrow ironsworn__{{type}}__settings">
                          <i class="fas fa-edit"></i>
                        </div>
                      </div>
                    </div>
                    <div class="flexcol asset-summary
                    {{#unless data.flags.foundry-ironsworn.expanded}}
                    collapsed
                    {{/unless}}">
                      {{#each data.data.fields}}
                      <p><strong>{{name}}:</strong> {{value}}</p>
                      {{/each}}

                      {{#if data.data.description}}
                      <p>{{{enrichHtml data.data.description}}}</p>
                      {{/if}}

                      <ul>
                        {{#each data.data.abilities}}
                        {{#if enabled}}
                        <li>{{{enrichHtml description}}}</li>
                        {{/if}}
                        {{/each}}
                      </ul>

                      {{#if data.data.track.enabled}}
                      <div class="flexrow" style="line-height: 30px;">
                        {{#rangeEach from=0 to=data.data.track.max
                        current=data.data.track.current}}
                        <div class="
                                                clickable block progress ironsworn__assettrack__value
                                                {{#if isCurrent}} selected {{/if}}
                                              " data-item="{{id}}" data-value={{value}}>
                          {{value}}
                        </div>
                        {{/rangeEach}}
                        <div class="clickable block ironsworn__assettrack__roll"
                          style="text-align: center; line-height: 40px;">
                          <i class="fas fa-dice-d6"></i>
                        </div>
                      </div>
                      {{/if}}

                    </div>
                  </li>
                  {{/each}}
                </ol>
              </div>
            </section>
          </div>

          <div class="flexcol">
            <section class="sheet-area progresses">
              <h1 style="text-align:center">{{localize 'IRONSWORN.Vows'}}</h1>
              {{#each vows}}
              {{>progress}}
              {{/each}}
              <div class="block clickable ironsworn__vow__add">
                <i class="fas fa-plus"></i>
              </div>

            </section>
            <section class="sheet-area progresses">
              <h1 style="text-align:center">{{localize 'IRONSWORN.Progress'}}</h1>
              {{#each progresses}}
              {{>progress}}
              {{/each}}
              <div class="block clickable ironsworn__progress__add">
                <i class="fas fa-plus"></i>
              </div>
            </section>
          </div>

        </div>
        <section class="sheet-area" style="flex-grow: 0;">
          <h1 style="text-align:center">{{localize 'IRONSWORN.Debilities'}}</h1>

          {{#*inline "debility"}}
          <label class="checkbox">
            <input type="checkbox" name="data.debility.{{name}}" {{checked (lookup data.data.debility name)}}>
            {{capitalize name}}
          </label>
          {{/inline}}
          <div class="flexrow">
            <div class="flexcol" style="flex:2;">

              <h3 style="border-bottom: 2px solid gray; margin-right: 5px;">{{localize 'IRONSWORN.Conditions'}}</h3>
              <div class="flexrow">
                <div class="flexcol">
                  {{>debility name="wounded"}}
                  {{>debility name="unprepared"}}

                </div>
                <div class="flexcol">
                  {{>debility name="shaken"}}
                  {{>debility name="encumbered"}}
                </div>
              </div>
            </div>
            <div class="flexcol">
              <h3 style="border-bottom: 2px solid gray; margin-right: 5px;">{{localize 'IRONSWORN.Banes'}}</h3>
              {{>debility name="maimed"}}
              {{>debility name="corrupted"}}
            </div>
            <div class="flexcol">
              <h3 style="border-bottom: 2px solid gray; margin-right: 5px;">{{localize 'IRONSWORN.Burdens'}}</h3>
              {{>debility name="cursed"}}
              {{>debility name="tormented"}}
            </div>
          </div>
        </section>

      </div>
    </div>
    <div class="flexcol margin-right">
      <div class="flexrow nogrow" style="flex-wrap: nowrap;">
        <h4 class="vertical clickable text ironsworn__stat__roll" data-stat="health">
          {{localize 'IRONSWORN.Health'}}
        </h4>
        <div class="flexcol stack health">
          {{>stack stat="health" from=5 to=0}}
        </div>
      </div>
      <div class="flexrow nogrow" style="flex-wrap: nowrap;">
        <h4 class="vertical clickable text ironsworn__stat__roll" data-stat="spirit">
          {{localize 'IRONSWORN.Spirit'}}
        </h4>
        <div class="flexcol stack spirit">
          {{>stack stat="spirit" from=5 to=0}}
        </div>
      </div>
      <div class="flexrow nogrow" style="flex-wrap: nowrap;">
        <h4 class="vertical clickable text ironsworn__stat__roll" data-stat="supply">
          {{localize 'IRONSWORN.Supply'}}
        </h4>
        <div class="flexcol stack supply">
          {{>stack stat="supply" from=5 to=0}}
        </div>
      </div>
    </div>
  </div>
</form>