<form class="{{cssClass}} flexcol compact" autocomplete="off">
  {{!-- Stats --}}
  <div class="flexcol boxgroup" style="margin: 5px;">
    <div class="flexrow boxrow">
      {{#*inline "stat"}}
      <div class="box flexcol clickable block ironsworn__stat__roll" data-stat="{{stat}}">
        <h4>{{localize (concat 'IRONSWORN.' (capitalize stat))}}</h4>
        <h2>{{lookup data.data stat}}</h2>
      </div>
      {{/inline}}

      {{>stat stat="edge"}}
      {{>stat stat="heart"}}
      {{>stat stat="iron"}}
      {{>stat stat="shadow"}}
      {{>stat stat="wits"}}
    </div>
  </div>

  {{!-- Resources --}}
  <div class="flexcol boxgroup" style="margin: 5px;">
    <div class="flexrow boxrow">
      {{#*inline "resource"}}
      <div class="box flexcol">
        <div class="flexcol boxrow {{#unless burn}}clickable block ironsworn__stat__roll{{/unless}}"
          data-stat="{{stat}}">
          <h5>{{localize (concat 'IRONSWORN.' (capitalize stat))}}</h5>
          <h4>{{lookup data.data stat}}</h4>
        </div>
        <div class="flexrow boxrow small">
          <div class="box clickable block ironsworn__resource__adjust" data-stat="{{stat}}" data-amt="-1"
            data-min="{{min}}">&minus;</div>
          {{#if burn}}
          <div class="box clickable block ironsworn__momentum__burn" style="padding: 0 5px;">{{localize
            'IRONSWORN.Burn'}}</div>
          {{/if}}
          <div class="box clickable block ironsworn__resource__adjust" data-stat="{{stat}}" data-amt="1"
            data-max="{{max}}">&plus;</div>
        </div>
      </div>
      {{/inline}}

      {{>resource stat="momentum" min=-6 max=actor.data.data.momentumMax burn=true}}
      {{>resource stat="health" min=0 max=5}}
      {{>resource stat="spirit" min=0 max=5}}
      {{>resource stat="supply" min=0 max=5}}
    </div>
  </div>

  {{!-- Debilities --}}
  <div class="flexcol">
    {{#*inline "debility"}}
    <label class="checkbox">
      <input type="checkbox" name="data.debility.{{name}}" {{checked (lookup data.data.debility name)}}>
      {{capitalize name}}
    </label>
    {{/inline}}

    <div class="flexrow nogrow" style="padding: 0 1em;">
      {{>debility name="wounded"}}
      {{>debility name="unprepared"}}
      {{>debility name="shaken"}}
      {{>debility name="encumbered"}}
    </div>
  </div>
</form>
