{{#*inline "hBox"}}
<div class="flexcol nogrow boxrow">
  <div class="flexcol box">
    <div class="flexrow clickable block no-border ironsworn__{{kind}}__create"
            style="align-items: center;"
            data-img="{{img}}">
      <img class="nogrow" src="{{img}}" width="50" height="50" alt="">
      <h3 style="border: none; margin: 0; padding: 0.5rem;">
        {{localize labelkey}}
      </h3>
    </div>
  </div>
</div>
{{/inline}}

<form class='{{cssClass}} flexcol' autocomplete='off'>
  <div class="flexcol">

    {{#if both}}
    <div class="nogrow boxgroup">
      <div class="flexrow boxrow nogrow">
        <div class="flexrow box" style="align-items: center; gap: 0.5rem;">
          <img class="nogrow" src="icons/creatures/eyes/human-single-blue.webp" width="50" height="50" alt="">
          <h2 style="margin: 0;">{{localize 'IRONSWORN.ACTOR.TypeCharacter'}}</h2>
        </div>
      </div>
      <div class="flexrow boxrow nogrow">
        <div class="flexcol box ironsworn__character__create" data-img="icons/creatures/eyes/human-single-blue.webp">
          <h3 class="clickable block" style="border: none; margin: 0; padding: 0.5rem;">
            {{ localize 'IRONSWORN.Ironsworn' }}
          </h3>
        </div>
        <div class="flexcol box ironsworn__sfcharacter__create" data-img="icons/creatures/eyes/human-single-blue.webp">
          <h3 class="clickable block" style="border: none; margin: 0; padding: 0.5rem;">
            {{ localize 'IRONSWORN.Starforged' }}
          </h3>
        </div>
      </div>
    </div>

    <div class="nogrow boxgroup" style="margin-top: 1rem;">
      {{#each buttons}}
        {{>hBox type=type labelkey=labelKey img=img}}
      {{/each}}
    </div>

    {{else}}
    <div class="boxgroup nogrow">
      <div class="flexcol nogrow boxrow">
        <div class="flexcol box">
          <div
            class="flexrow clickable block no-border
            {{#if classic}}ironsworn__character__create
            {{else}}ironsworn__sfcharacter__create
            {{/if}}"
            style="align-items: center;"
            data-img="icons/creatures/eyes/human-single-blue.webp"
          >
            <img class="nogrow" src="icons/creatures/eyes/human-single-blue.webp" width="50" height="50" alt="">

            <h3 style="border: none; margin: 0; padding: 0.5rem;">
              Character
            </h3>
          </div>
        </div>
      </div>

      {{#each buttons}}
        {{>hBox type=type labelkey=labelKey img=img}}
      {{/each}}
    </div>
    {{/if}}

  </div>
</form>

<style>
  .create-actor-row {
    align-items: center;
    padding: 0.5rem;
  }

  .new-actor .no-border {
    border-width: 0;
  }

  .new-actor img {
    border: none;
  }

  .create-actor-header {
    margin: 0;
    padding: 0.5rem 0 0 0;
    text-transform: uppercase;
  }
</style>
