{{#*inline "hBox"}}
<div
  class="flexrow nogrow box clickable block create-actor-row ironsworn__{{kind}}__create"
  data-img="{{img}}"
>
  <img class="nogrow" src="{{img}}" width="50" height="50" alt="">
  <h4 style="margin: 0.5rem;">{{localize labelkey}}</h4>
</div>
{{/inline}}

<form class='{{cssClass}} flexcol' autocomplete='off'>
  <div class="flexcol">

    {{#if both}}
    <div class="nogrow boxgroup" style="margin-bottom: 1rem;">
      <div class="flexrow boxrow nogrow">
        <div class="box" style="padding: 0.25rem; align-items: center; gap: 0.5rem;">
          <img class="nogrow" src="icons/creatures/eyes/human-single-blue.webp" width="50" height="50" alt="">
          <h2 style="margin: 0;">Character</h2>
        </div>
      </div>
      <div class="flexrow boxrow nogrow">
        <div class="flexcol box ironsworn__character__create">
          <h3 class="clickable block" style="border: none; margin: 0; padding: 0.5rem;">Ironsworn</h3>
        </div>
        <div class="flexcol box ironsworn__sfcharacter__create">
          <h3 class="clickable block" style="border: none; margin: 0; padding: 0.5rem;">Starforged</h3>
        </div>
      </div>
    </div>
    {{/if}}


    {{#each buttonSections}}
      {{#if ../showSectionHeaders}}
        <h2 class="nogrow create-actor-header">
          {{localize (concat 'IRONSWORN.RULESETS.' ruleset)}}
        </h2>
      {{/if}}

      {{#each buttons}}
        {{>hBox type=type labelkey=labelKey img=img}}
      {{/each}}
    {{/each}}
    </div>
  </div>
</form>

<style>
  .create-actor-row {
    align-items: center;
    padding: 0.5rem;
  }

  .create-actor-header {
    margin: 0;
    padding: 0.5rem 0 0 0;
    text-transform: uppercase;
  }
</style>
