{{#*inline "hBox"}}
<div
  class="flexrow nogrow box clickable block create-actor-button ironsworn__{{kind}}__create"
  data-img="{{img}}"
>
  <img class="nogrow" src="{{img}}" width="50" height="50" alt="">
  <h4 style="margin: 0.5rem;">{{localize labelkey}}</h4>
</div>
{{/inline}}

<form class='{{cssClass}} flexcol' autocomplete='off'>
  <div class="flexcol">
    <div class="flexcol">
    {{#each buttonSections}}
      {{#if ../showSectionHeaders}}
        <h2 class="nogrow create-actor-header">
          {{localize (concat 'IRONSWORN.RULESETS.' ruleset)}}
        </h2>
      {{/if}}

      {{#each buttons}}
        {{>hBox type=type labelkey=labelKey img=img}}
      {{/each}}
    {{/each}}
    </div>
    </div>
  </div>
</form>

<style>
  .create-actor-button {
    align-items: center;
    padding: 0.5rem;
  }

  .create-actor-header {
    margin: 0;
    padding: 0.5rem 0 0 0;
    text-transform: uppercase;
  }
</style>
