{{#*inline "createBox"}}
<div class="flexrow box clickable block ironsworn__{{type}}__create"
     style="align-items: center;"
     data-img="{{img}}"
>
  <div class="flexcol" style="align-items: center;">
    <img src="{{img}}" width="75" height="75" alt="">
    <h4>{{label}}</h4>
  </div>
</div>
{{/inline}}

<form class='{{cssClass}} flexrow' autocomplete='off'>
  <div class="flexrow boxgroup" style="margin: 30px;">
    <div class="flexrow boxrow">

      {{>createBox type="character" label="Character" img="icons/creatures/eyes/human-single-blue.webp"}}
      {{>createBox type="shared" label="Shared Sheet" img="icons/environment/settlement/wagon-black.webp"}}
      {{>createBox type="site" label="Delve Site" img="icons/environment/wilderness/cave-entrance-vulcano.webp"}}

    </div>
  </div>
</form>
