{{#*inline "createBox"}}
<div class="flexrow box clickable block ironsworn__{{type}}__create" style="align-items: center; padding: 1rem;"
  data-img="{{img}}">
  <div class="flexcol" style="align-items: center;">
    <img src="{{img}}" width="75" height="75" alt="">
    <h4 style="margin: 0.1rem 0;">{{localize labelkey}}</h4>
  </div>
</div>
{{/inline}}

<form class='{{cssClass}} flexcol' autocomplete='off'>
  <div class="flexcol">
    <div class="flexrow boxrow">
      {{#if sfenabled}}
      {{>createBox type="sfcharacter" labelkey="IRONSWORN.Character" img="icons/creatures/eyes/human-single-blue.webp"}}
      {{else}}
      {{>createBox type="character" labelkey="IRONSWORN.Character" img="icons/creatures/eyes/human-single-blue.webp"}}
      {{/if}}

      {{>createBox type="shared" labelkey="IRONSWORN.SharedSheet" img="icons/environment/settlement/wagon-black.webp"}}

      {{#if sfenabled}}
      {{>createBox type="sfship" labelkey="IRONSWORN.Starship" img="icons/environment/settlement/wizard-castle.webp"}}
      {{>createBox type="sflocation" labelkey="IRONSWORN.Location"
      img="systems/foundry-ironsworn/assets/planets/Starforged-Planet-Token-Ocean-02.webp"}}
      {{else}}
      {{>createBox type="site" labelkey="IRONSWORN.DelveSite"
      img="icons/environment/wilderness/cave-entrance-vulcano.webp"}}
      {{/if}}

      {{>createBox type="foe" labelkey="IRONSWORN.NPC" img="icons/creatures/eyes/lizard-single-slit-pink.webp"}}
    </div>
  </div>

  {{#if sfenabled}}
  {{/if}}
  </div>
</form>
