{{#*inline "hBox"}}
<div
  class="flexrow box clickable block ironsworn__{{kind}}__create"
  style="align-items: center; padding: 1rem;"
  data-img="{{img}}"
>
  <img class="nogrow" src="{{img}}" width="50" height="50" alt="">
  <h4 style="margin: 0.5rem;">{{localize labelkey}}</h4>
</div>
{{/inline}}

{{log this}}
<form class='{{cssClass}} flexcol' autocomplete='off'>
  <div class="flexcol">
    <div class="flexcol">
    {{#each buttonSections}}
      {{#if ../showSectionHeaders}}
        <h2>{{localize (concat 'IRONSWORN.RULESETS.' ruleset)}}</h2>
      {{/if}}

      {{#each buttons}}
        {{>hBox type=type labelkey=labelKey img=img}}
      {{/each}}
    {{/each}}
    </div>
    </div>
  </div>
</form>
