<form class='{{cssClass}} flexcol' style="height: 100%" autocomplete='off'>

  <nav class="ironsworn__tabs__selector sheet-header tabs flexrow nogrow">
    <a class="item" data-tab="moves">{{localize 'IRONSWORN.Moves'}}</a>
    <a class="item" data-tab="oracles">{{localize 'IRONSWORN.Oracles'}}</a>
  </nav>

  <div class="ironsworn__tabs__content sheet-body flexcol">
    <section class="tab flexcol" data-tab="moves">

      <div class="flexrow nogrow" style="align-items: center;">
        <input type="text" class="ironsworn__move__search" placeholder="{{localize 'IRONSWORN.Search'}}">
        <div class="nogrow clickable block ironsworn__move__search__clear">
          <i class="fa fa-times-circle" style="padding: 6px;"></i>
        </div>
      </div>

      <div class="flexcol item-list">
        <ol class="moves">

          {{!-- Built-in moves --}}
          {{#each builtInMoves}}
          {{#if separator}}
          <h2>{{title}}</h2>
          {{else}}
          <li class="item-row ironsworn__builtin__move" data-name="{{rawname}}">
            <h4 style="margin: 0;" title="{{Source.Name}}, p{{Source.Page}}" class="flexrow">
              <i class="nogrow fa fa-dice-d6 clickable text ironsworn__builtin__move__roll"
                style="padding: 1px; margin-right: 5px;" data-name="{{rawname}}">
              </i>
              <span style="flex: 1" class='ironsworn__move__expand'>
                {{name}}
              </span>
            </h4>
            <div class='move-summary' style='display: none;'>
              <p>
                {{#each Stats}}
                <a class='inline-roll' data-param='{{this}}'><i class='fas fa-dice-d6'></i>
                  {{lowercase (localize (concat 'IRONSWORN.' (capitalize this)))}}
                </a>
                &nbsp;
                {{/each}}
              </p>
              {{{enrichHtml description}}}
              {{#if strong}}{{{enrichHtml strong}}}{{/if}}
              {{#if weak}}{{{enrichHtml weak}}}{{/if}}
              {{#if miss}}{{{enrichHtml miss}}}{{/if}}

              {{#if extradescription}}<hr>{{{enrichHtml extradescription}}}{{/if}}
              {{#if extrastrong}}{{{enrichHtml extrastrong}}}{{/if}}
              {{#if extraweak}}{{{enrichHtml extraweak}}}{{/if}}
              {{#if extramiss}}{{{enrichHtml extramiss}}}{{/if}}
            </div>
          </li>
          {{/if}}
          {{/each}}

          {{!-- Custom moves --}}
          {{#if moves.length}}
          <h2>{{localize 'IRONSWORN.CustomMoves'}}</h2>
          {{#each moves}}
          <li class="item-row ironsworn__custom__move" data-id="{{id}}">
            <h4 style="margin: 0;" class="flexrow">
              <i class="nogrow fa fa-dice-d6 clickable text ironsworn__custom__move__roll"
                style="padding: 1px; margin-right: 5px;" data-id="{{id}}">
              </i>
              <span style="flex: 1" class='ironsworn__move__expand'>
                {{name}}
              </span>
              <i class="nogrow fa fa-edit clickable text ironsworn__{{type}}__settings"
                style="padding: 1px; margin-right: 5px;" data-item="{{id}}">
              </i>
              <i class="nogrow fa fa-trash clickable text ironsworn__{{type}}__delete"
                style="padding: 1px; margin-right: 5px;" data-item="{{id}}">
              </i>
            </h4>
            <div class='move-summary' style='display: none;'>
              <p>
                {{!-- TODO: edit/trash buttons --}}
                {{#each data.data.stats}}
                <a class='inline-roll' data-param='{{this}}'><i class='fas fa-dice-d6'></i>
                  {{this}}
                </a>
                {{/each}}
              </p>
              {{{enrichHtml data.data.description}}}
              {{#if data.data.strong}}{{{enrichHtml data.data.strong}}}{{/if}}
              {{#if data.data.weak}}{{{enrichHtml data.data.weak}}}{{/if}}
              {{#if data.data.miss}}{{{enrichHtml data.data.miss}}}{{/if}}
            </div>
          </li>
          {{/each}}
          {{/if}}
        </ol>
      </div>
    </section>

    <section class="tab flexcol" data-tab="oracles">
      <div class="flexrow nogrow" style="align-items: center;">
        <input type="text" class="ironsworn__oracle__search" placeholder="{{localize 'IRONSWORN.Search'}}">
        <div class="nogrow clickable block ironsworn__oracle__search__clear">
          <i class="fa fa-times-circle" style="padding: 6px;"></i>
        </div>
      </div>

      <div class="flexcol item-list {{#if oraclesOpen}}open{{/if}}">

        {{#*inline "oracle"}}
        <li class="item">
          <h4 class="clickable text move ironsworn__oracle" data-table="Oracle: {{name}}">{{name}}</h4>
        </li>
        {{/inline}}

        <ol class="oracles">
          <h2>{{localize 'IRONSWORN.Plot'}}</h2>
          {{> oracle name="Action"}}
          {{> oracle name="Theme"}}
          {{> oracle name="Combat Action"}}
          {{> oracle name="Settlement Trouble"}}
          {{> oracle name="Major Plot Twist"}}
          {{> oracle name="Mystic Backlash"}}
          {{> oracle name="Challenge Rank"}}
          <h2>{{localize 'IRONSWORN.Location'}}</h2>
          {{> oracle name="Region"}}
          {{> oracle name="Location"}}
          {{> oracle name="Coastal Waters Location"}}
          {{> oracle name="Location Descriptor"}}
          {{> oracle name="Settlement Name"}}
          {{> oracle name="Settlement Name (Landscape Feature)"}}
          {{> oracle name="Settlement Name (Manmade Edifice)"}}
          {{> oracle name="Settlement Name (Creature)"}}
          {{> oracle name="Settlement Name (Historical Event)"}}
          {{> oracle name="Settlement Name (Old Language)"}}
          {{> oracle name="Settlement Name (Season or Environmental Aspect)"}}
          {{> oracle name="Settlement Name (Something Else)"}}
          {{> oracle name="Quick Settlement Name (Prefix)"}}
          {{> oracle name="Quick Settlement Name (Suffix)"}}
          <h2>{{localize 'IRONSWORN.Character'}}</h2>
          {{> oracle name="Character Role"}}
          {{> oracle name="Character Goal"}}
          {{> oracle name="Character Descriptor"}}
          {{> oracle name="Character Disposition"}}
          <h2>{{localize 'IRONSWORN.Names'}}</h2>
          {{> oracle name="Ironlander Names"}}
          {{> oracle name="Elf Names"}}
          {{> oracle name="Giant Names"}}
          {{> oracle name="Varou Names"}}
          {{> oracle name="Troll Names"}}
          <h2>{{localize 'IRONSWORN.Moves'}}</h2>
          {{> oracle name="Choice (Almost Certain)"}}
          {{> oracle name="Choice (Likely)"}}
          {{> oracle name="Choice (50/50)"}}
          {{> oracle name="Choice (Unlikely)"}}
          {{> oracle name="Choice (Small Chance)"}}
          {{> oracle name="Pay the Price"}}
          <!-- TODO: Delve oracles? -->
        </ol>
      </div>
    </section>
  </div>
</form>
