{{#*inline "progress"}}
<div class="flexcol item-row" data-id="{{id}}">
  <div class="flexcol">
    <div class="flexrow">
      <div class="flexrow">{{>rankHexes rank=data.data.rank id=id}}</div>

      {{#if actor.data.flags.foundry-ironsworn.edit-mode}}
      <div class="clickable block nogrow ironsworn__{{type}}__delete" data-item="{{id}}">
        <i class="fas fa-trash"></i>
      </div>
      {{/if}}

      <div class="clickable block nogrow ironsworn__{{type}}__settings" data-item="{{id}}">
        <i class="fas fa-edit"></i>
      </div>
      <div class="clickable block nogrow ironsworn__progress__mark" {{! This works for vows too }}
        title="{{localize 'IRONSWORN.MarkProgress'}}" data-item="{{id}}">
        <i class="fas fa-play"></i>
      </div>
      <div class="clickable block ironsworn__progress__fulfill" title="{{localize 'IRONSWORN.FulfillVow'}}"
        style="flex-grow: 0;" data-item="{{id}}">
        <i class="fas fa-check"></i>
      </div>
    </div>
    <h3>{{name}}</h3>
  </div>
  <div class="flexrow">
    <div class="flexrow track">
      {{#each (progressCharacters data.data.current)}}
      <div class="track-box">{{{this}}}</div>
      {{/each}}
    </div>
  </div>
</div>
{{/inline}}

<form class="{{cssClass}} flexcol" autocomplete="off">

  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="50" width="50" />
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
        placeholder="{{localize 'IRONSWORN.Name'}}" /></h1>
  </header>

  <section class="sheet-area" style="flex-grow: 0;">
    <h2 class="clickable text ironsworn__supply__roll">
      {{localize 'IRONSWORN.Supply'}}
    </h2>
    <div class="boxgroup" style="line-height: 25px;">
      <div class="flexrow boxrow">
        {{#rangeEach from=0 to=5 current=data.data.supply}}
        <div class="
          box clickable block ironsworn__supply__value
          {{#if isCurrent}} selected {{/if}}
        " data-value="{{value}}">
          {{valueStr}}
        </div>
        {{/rangeEach}}
      </div>
    </div>
  </section>

  <section class="sheet-area" style="flex-grow: 0;">
    <h2>{{localize 'IRONSWORN.Bonds'}}</h2>
    <div class="flexrow">
      <div class="flexrow track">
        {{#each (progressCharacters bondset.count)}}
        <div class="track-box">{{{this}}}</div>
        {{/each}}
      </div>
      <div data-item="{{bondset.id}}" class="ironsworn__bondset__settings block clickable"
        style="flex-grow: 0; padding: 5px; margin: 2px;">
        <i class="fas fa-edit"></i>
      </div>
    </div>
  </section>

  <section class="sheet-area progresses">
    <h2>{{localize 'IRONSWORN.Vows'}}</h2>
    {{#each vows}}
    {{>progress}}
    {{/each}}
    <div class="block clickable ironsworn__vow__add">
      <i class="fas fa-plus"></i>
    </div>
  </section>

  <section class="sheet-area progresses">
    <h2>{{localize 'IRONSWORN.Progress'}}</h2>
    {{#each progresses}}
    {{>progress}}
    {{/each}}
    <div class="block clickable ironsworn__progress__add">
      <i class="fas fa-plus"></i>
    </div>
  </section>

</form>
