<form class="{{cssClass}} flexcol" autocomplete="off">

  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="50" width="50" />
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
        placeholder="{{localize 'IRONSWORN.Name'}}" /></h1>
  </header>

  <div class="flexcol nogrow" style="margin-bottom: 1em;">
    <div class="flexrow">
      <div class="flexrow">{{>rankHexes rank=data.data.rank id=id}}</div>
      <div class="clickable block nogrow ironsworn__progress__mark" title="{{localize 'IRONSWORN.MarkProgress'}}"
        data-item="{{id}}" style="padding: 5px;">
        <i class="fas fa-play"></i>
      </div>
      <div class="clickable block nogrow ironsworn__progress__clear" title="{{localize 'IRONSWORN.ClearProgress'}}"
        data-item="{{id}}" style="padding: 5px;">
        <i class="fas fa-trash"></i>
      </div>
    </div>
    <div class="flexrow track">
      {{#each (progressCharacters data.data.current)}}
      <div class="flexcol track-box" style="min-height: 50px;">{{{this}}}</div>
      {{/each}}
    </div>
  </div>

  <div class="flexrow nogrow" style="margin-bottom: 1em; align-items: center;">
    <i class="nogrow fa fa-dice-d6" style="padding: 5px; margin-right: 5px; flex: 0;">
    </i>
    <div class="boxgroup flexrow">
      {{#each moves}}
      <div class="box clickable block ironsworn__builtin__move__roll" data-name="{{Name}}">
        <h4 style="margin: 5px; align-items: center;" title="{{Source.Name}}, p{{Source.Page}}" class="flexrow">
          <span style="flex: 1" class='ironsworn__move__expand'>
            {{localize (concat 'IRONSWORN.MoveContents.' Name '.title')}}
          </span>
        </h4>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="boxgroup flexcol">
    <div class="flexrow boxrow">
      <div class="flexcol box">
        {{#if theme}}
        {{theme.name}}
        {{else}}
        <p>(open compendium)</p>
        <p>— or —</p>
        <p>(random theme)</p>
        {{/if}}
      </div>
      <div class="flexcol box">
        {{#if domain}}
        {{domain.name}}
        {{else}}
        <p>(open compendium)</p>
        <p>— or —</p>
        <p>(random domain)</p>
        {{/if}}
      </div>
    </div>

    <div class="flexrow boxrow">(denizens)</div>
  </div>
</form>
