<form class="{{cssClass}} flexcol" autocomplete="off">

  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="50" width="50" />
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
        placeholder="{{localize 'IRONSWORN.Name'}}" /></h1>
  </header>

</form>
