{{#*inline "fieldrows"}}
{{#each (lookup data.system field)}}
<tr>
  <td>
    {{#if (eq range.[0] range.[1])}}{{range.[0]}}{{else}}{{range.[0]}}–{{range.[1]}}{{/if}}
  </td>
  <td>
    <input data-on-blur="update{{capitalize (lookup .. 'field')}}Text" data-idx="{{@index}}" type="text" value="{{text}}" />
  </td>
</tr>
{{/each}}
{{/inline}}

<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" height="50" width="50" />
    <h1>
      <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
    </h1>
  </header>

  <section class="flexcol">
    <input name="data.summary" type="text" value="{{data.system.summary}}"
      placeholder="{{localize 'IRONSWORN.Summary'}}" />
    {{editor data.system.description target="system.description" owner=owner}}
  </section>

  <h3>{{localize 'IRONSWORN.DELVESITE.Features'}}</h3>
  <table>
    <tbody>
      {{>fieldrows field="features"}}
    </tbody>
  </table>

  <h3>{{localize 'IRONSWORN.DELVESITE.Dangers'}}</h3>
  <table>
    <tbody>
      {{>fieldrows field="dangers"}}
    </tbody>
  </table>
</form>
