<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Sheet Body --}}
  <section class="sheet-body flexcol">
    <header class="sheet-header">
      <h1>
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'IRONSWORN.Name'}}" />
      </h1>
    </header>

    {{editor content=data.data.description target="data.description" button=true owner=owner editable=true}}
    {{editor content=data.data.strong target="data.strong" button=true owner=owner editable=true}}
    {{editor content=data.data.weak target="data.weak" button=true owner=owner editable=true}}
    {{editor content=data.data.miss target="data.miss" button=true owner=owner editable=true}}

    {{log this}}
  </section>
</form>
