<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <h1>
      <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
    </h1>
  </header>

  <section class="flexrow nogrow">
    <label style="flex: 1;">
      <strong>{{localize 'IRONSWORN.Rank'}}:</strong>
      {{localize (concat 'IRONSWORN.' (capitalize data.data.rank))}}
    </label>
    <div class="flexrow" style="flex: 0; flex-wrap: nowrap;">
      {{>rankHexes rank=data.data.rank id=id}}
    </div>
  </section>

  <div class="flexrow nogrow" style="margin: 10px 0;">
    <div class="flexrow track">
      {{#each (progressCharacters data.data.current)}}
      <div class="track-box">{{{this}}}</div>
      {{/each}}
    </div>
  </div>

  <div class="flexrow nogrow">
    <button class="ironsworn__progress__mark">{{localize 'IRONSWORN.Mark'}}</button>
    <button class="ironsworn__progress__fulfill">{{localize 'IRONSWORN.Fulfill'}}</button>
  </div>
  <div class="flexrow nogrow">
    <hr>
  </div>
  <div class="flexrow nogrow">
    <button class="ironsworn__progress__clear">{{localize 'IRONSWORN.Clear'}}</button>
    <button class="ironsworn__progress__delete"><i class="fas fa-trash"></i></button>
  </div>

  {{editor content=data.data.description target="data.description" button=true owner=owner editable=true}}
</form>
