<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
            </h1>
            <h3>
                <input name="data.description" type="text" value="{{data.description}}" placeholder="Description" />
            </h3>
        </div>
    </header>

    <h2>Fields</h2>
    {{#each data.fields}}
    <div class="flexcol item">
        <div class="flexrow">
            <label style="flex-grow: 0;">Label:</label>
            <input class="attribute-value" type="text" name="data.fields.{{@index}}.name" value="{{name}}" />
        </div>
        <div class="flexrow">
            <label style="flex-grow: 0;">Value:</label>
            <input class="attribute-value" type="text" name="data.fields.{{@index}}.value" value="{{value}}" />
        </div>
        <div class="block clickable delete-field" data-index="{{@index}}">
            <i class="fas fa-trash"></i>
        </div>
    </div>
    {{/each}}
    <div class="block clickable add-field">
        <i class="fas fa-plus"></i>
    </div>

    <h2>Abilities</h2>
    {{#each data.abilities}}
    <div class="flexcol item">
        <div class="flexrow">
            <input type="checkbox" name="data.abilities.{{@index}}.enabled" {{checked enabled}} style="flex-grow: 0;" />
            <input class="attribute-value" type="text" name="data.abilities.{{@index}}.description"
                value="{{description}}" />
        </div>
    </div>
    <p>
    </p>
    {{/each}}

    {{!-- <h3>Rendered</h3>
    {{{data.rendered}}} --}}
</form>
