<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="view">View</a>
        <a class="item" data-tab="edit">Edit</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab" data-group="primary" data-tab="view">
            <p>{{{data.description}}}</p>

            <ul>
                {{#each data.options}}
                <li class="move-li">
                    {{{description}}}:
                    <a class="inline-roll" data-useAsset="{{useAsset}}" data-param="{{param}}" data-asset="{{asset}}">
                        <i class="fas fa-dice-d20"></i>
                        Roll +{{param}}.
                    </a>
                </li>
                {{/each}}
            </ul>

            <hr>
            <p>On a <strong>strong hit,</strong> {{{data.strongHit}}}</p>
            <p>On a <strong>weak hit,</strong> {{{data.weakHit}}}</p>
            <p>On a <strong>miss</strong>, {{{data.miss}}}</p>

            {{!-- <pre><code>{{json data}}</code></pre> --}}
        </div>

        <div class="tab flexcol" data-group="primary" data-tab="edit">
            <header class="sheet-header">
                <h1>
                    <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
                </h1>
            </header>
            <section class="inset">
                {{editor content=data.description target="data.description" button=true owner=owner editable=true}}
            </section>

            {{#each data.options as |option key| }}
            <section class="inset">
                <div class="flexrow">
                    <input name="data.options.{{key}}.description" type="text" value="{{option.description}}"
                        placeholder="With..." />
                    <button class="remove-option" data-key={{key}}>-</button>
                </div>
                <label>
                    <input type="checkbox" name="data.options.{{key}}.useAsset" {{checked option.useAsset}} />
                    Use stat from asset
                </label>
                <p>
                    {{#if useAsset}}
                    <span class="flexrow">
                        <div class="flexcol">
                            Asset name:
                            <input name="data.options.{{key}}.asset" type="text" value="{{option.asset}}"
                                placeholder="edge" />
                        </div>
                        <div class="flexcol">
                            Asset stat name:
                            <input name="data.options.{{key}}.param" type="text" value="{{option.param}}"
                                placeholder="edge" />
                        </div>
                    </span>
                    {{else}}
                    Roll +
                    <input name="data.options.{{key}}.param" type="text" value="{{option.param}}" placeholder="edge" />
                    {{/if}}
                </p>
            </section>
            {{/each}}
            <button class="addOption">+</button>
            <hr>
            <section style="flex: 0">
                <section class="inset">
                    <label>On a <strong>strong hit:</strong></label>
                    {{editor content=data.strongHit target="data.strongHit" button=true owner=owner editable=true}}
                </section>

                <section class="inset">
                    <label>On a <strong>weak hit:</strong></label>
                    {{editor content=data.weakHit target="data.weakHit" button=true owner=owner editable=true}}
                </section>

                <section class="inset">
                    <label>On a <strong>miss:</strong></label>
                    {{editor content=data.miss target="data.miss" button=true owner=owner editable=true}}
                </section>
            </section>

        </div>

        <!--
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <header class="attributes-header flexrow">
                <span class="attribute-key">Attribute Key</span>
                <span class="attribute-value">Value</span>
                <span class="attribute-label">Label</span>
                <span class="attribute-dtype">Data Type</span>
                <a class="attribute-control" data-action="create"><i class="fas fa-plus"></i></a>
            </header>

            <ol class="attributes-list">
                {{#each data.attributes as |attr key|}}
                <li class="attribute flexrow" data-attribute="{{key}}">
                    <input class="attribute-key" type="text" name="data.attributes.{{key}}.key" value="{{key}}" />
                    {{#if attr.isCheckbox}}
                    <label class="attribute-value checkbox"><input type="checkbox" name="data.attributes.{{key}}.value"
                            {{checked attr.value}} /></label>
                    {{else}}
                    <input class="attribute-value" type="text" name="data.attributes.{{key}}.value"
                        value="{{attr.value}}" data-dtype="{{attr.dtype}}" />
                    {{/if}}
                    <input class="attribute-label" type="text" name="data.attributes.{{key}}.label"
                        value="{{attr.label}}" />
                    <select class="attribute-dtype" name="data.attributes.{{key}}.dtype">
                        {{#select attr.dtype}}
                        {{#each ../dtypes as |t|}}
                        <option value="{{t}}">{{t}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <a class="attribute-control" data-action="delete"><i class="fas fa-trash"></i></a>
                </li>
                {{/each}}
            </ol>
        </div>
    -->
    </section>
</form>
